
.send-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  top: 8px;
  right: 50px;
  z-index: 1000000;
  width: 60px;
  height: 60px;
  transition: fill 0.3s ease;
  cursor: pointer;
  background-color: var(--davy-gray);
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.send-icon:hover {
  background-color: var(--rose-quartz);
  filter: drop-shadow(0 0 2em #747bff);
}
